<!-- Recycle Bin Modal -->
<div class="modal fade" id="recycleTeamModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="recycleTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recycleTeamModalLabel">Team Recycle Bin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="teamRecycleBinTable" class="display responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th data-priority="0">Team Name</th>
                            <th data-priority="2">Manager Name</th>
                            <th data-priority="1">Race</th>
                            <th data-priority="2">Date Deleted</th>
                            <th data-priority="0"></th>
                            <th data-priority="0"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeRecycleTeamModalBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-dark" id="emptyAllTeamBinBtn"><i class="fas fa-trash"></i> Empty All</button>
            </div>
        </div>
    </div>
</div>
<form id="restoreTeamForm">
    @Html.AntiForgeryToken()
</form>
<form id="hardDeleteTeamForm">
    @Html.AntiForgeryToken()
</form>
<form id="hardDeleteAllMyTeamsForm">
    @Html.AntiForgeryToken()
</form>

<script>
    var recycleBinTable = $("#teamRecycleBinTable").DataTable({
        paging: false,
        "language": {
            "emptyTable": "You currently have no deleted teams."
        },
        responsive: {
            details: false
        },
        ajax: {
            url: '../../Bloodbowl/UserTeams/Deleted/Data',
            DataSrc: 'data'
        },
        columns: [
            {
                "data": null,
                "defaultContent": '',
                "render": (d) => {
                    return `<a href="../../Bloodbowl/Team/View/${d.id}">${d.teamName}</a>`;
                }
            },
            { data: 'managerName' },
            { data: 'race' },
            { data: 'dateDeleted' },
            {
                "data": null,
                defaultContent: '',
                "orderable": false,
                "render": (d) => {
                    return `<button class="btn btn-sm" data-restore-team="${d.id}" data-restore-team-name="${d.teamName}"><i class="fas fa-trash-restore"></i> Restore Team</button>`;
                }
            },
            {
                "data": null,
                defaultContent: '',
                "orderable": false,
                "render": (d) => {
                    return `<button class="btn btn-sm" data-hard-delete-team="${d.id}" data-hard-delete-team-name="${d.teamName}"><i class="fas fa-trash"></i> Empty From Bin</button>`;
                }
            }
        ]
    });

    $(document).ready(function () {
        $('#teamRecycleBinTable tbody').on('click', '[data-restore-team]', function () {
            data = {
                teamId: $(this).data("restore-team"),
                __RequestVerificationToken: $('#restoreTeamForm input[name=__RequestVerificationToken]').val()
            };
            $.post("../../bloodbowl/dorestoreteam", data, function (d) {
                if (d.success) {
                    toastr.success("Team Restored.");
                    tt.ajax.reload();
                    recycleBinTable.ajax.reload();
                    $("#recycleTeamModal").modal("hide");
                } else {
                    toastr.error(d.error);
                }
            });
        });

        $('#teamRecycleBinTable tbody').on('click', '[data-hard-delete-team]', function () {
            if (confirm(`Ayre you sure you want to permanantly delete: ${$(this).data("hard-delete-team-name")}`)) {
                data = {
                    teamId: $(this).data("hard-delete-team"),
                    __RequestVerificationToken: $('#hardDeleteTeamForm input[name=__RequestVerificationToken]').val()
                };
                $.post("../../bloodbowl/doharddeleteteam", data, function (d) {
                    if (d.success) {
                        toastr.success("Team emptied from recycle bin.");
                        tt.ajax.reload();
                        recycleBinTable.ajax.reload();
                        $("#recycleTeamModal").modal("hide");
                    } else {
                        toastr.error(d.error);
                    }
                });
            }
        });

        $('#emptyAllTeamBinBtn').on("click", function () {
            if (confirm(`Ayre you sure you want to permanantly delete all the teams in your recycle bin?}`)) {
                data = {
                    __RequestVerificationToken: $('#hardDeleteAllMyTeamsForm input[name=__RequestVerificationToken]').val()
                };
                $.post("../../bloodbowl/doharddeleteallteams", data, function (d) {
                    if (d.success) {
                        toastr.success("Teams emptied from recycle bin.");
                        tt.ajax.reload();
                        recycleBinTable.ajax.reload();
                        $("#recycleTeamModal").modal("hide");
                    } else {
                        toastr.error(d.error);
                    }
                });
            }
        });
    });

</script>
