@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Thanks for verifying your email address, you can now log in to your account.</h1>
<h2 class="text-info">Your username will be the first part of your email address used to register your account (everything before the "@@" symbol).</h2>